.tp-calculator
  margin: 0 0 20px
  font-size: 1.5em
  &:hover
    cursor: pointer
    background-color: lightgrey

  &__wrapper
    display: inline-block

  &__transition
    &.is-not-active
      display: none