<div class="tp-calculator">
  <div class="tp-calculator__wrapper">
    <div class="tp-calculator__before">{{ infix }}</div>
    {% if postfix_transitions is not empty %}
    <div class="tp-calculator__after">
      <div class="tp-calculator__transitions">
        {% for transition in postfix_transitions %}
          <div class="tp-calculator__transition is-not-active">{{ transition|join(' ') }}</div>
        {% endfor %}
      </div>
    </div>
    {% endif %}
  </div>
</div>

{{ attach_library('text_parser_calculator/text-parser-calculator') }}