.tp-calculator {
  margin: 0 0 20px;
  font-size: 1.5em; }
  .tp-calculator:hover {
    cursor: pointer;
    background-color: lightgrey; }
  .tp-calculator__wrapper {
    display: inline-block; }
  .tp-calculator__transition.is-not-active {
    display: none; }

/*# sourceMappingURL=text-parser-calculator.css.map */
